
/*Estilos a etiquetas generales*/
*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    background-color: transparent;
    line-height: 1.6;
    font-family: "roboto", "sans-serif";

}
html{
    scroll-behavior: smooth;
}


h1 , h3{ 
    font-size: 3.5em;
    text-align: center;
    font-weight: bold;
    
    border-radius: 20px;
    color: blueviolet;
   
}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ 
    font-size: 1.25em;
    margin: 10px;
}
ul{list-style: none;}


button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}
button:hover{
    background-color: rgb(101,33,165);
    
}
.container{
    max-width: 1400px;
    margin: auto  ;
}
/*header*/


header{
   
    background-color: rgb(245,245,245);
    
    
}
header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.header-logo{
    font-style: italic ;
    font-weight: bold;
    padding: 15px 20px ;
    transition: transform 1s;
    margin-top: 8px;
    
}
.header-logo:hover{
    color: blueviolet;
    transform: scale(1) rotate(360deg);
    
}


header nav{
    display: flex;
    padding-bottom: 5px;
    color: blueviolet;
   
    
    
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: transform 1s;
}

header a:hover{
    color:  blueviolet;
    transform: scale(1.1);
}

/*pagina-inicio*/
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url(./images/hero.jpg), linear-gradient(0deg,rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;

}

/*pagina quien soy*/

 





/*pagina-mis proyectos*/
.img-proyectos{
    width: 100%;
}


/*paginan-mis conocimientos*/
.grid{
    display: grid;
    width: 100%;
    margin-top: 30px;
    place-items: center ;
    gap: 20px;
    grid-template-rows:1fr 1fr ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "html   css"
    "python js";
}
.img-lenguajes{
    width: 200px;
    height: 200px;
    object-fit: contain;
    animation-name: img-lenguajes--animation;
    animation-duration:5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes img-lenguajes--animation{
    50%{
        width: 500px;
        height: 50px;
    }

}

.img-grid1{
    grid-area: html;
}

.img-grid2{
    grid-area: js;
}

.img-grid3{
    grid-area: python;
}

.img-grid4{
    grid-area: css;
}






/*pagina-opiniones sobre la pagina*/
.h1-form{
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    color: blueviolet;
    
}
.container-form{
    background-color: transparent;
    width: 400px;
    margin: auto;
    padding: 30px;
    margin-top: 100px;
    border: 3px solid black;
    margin-bottom: 30px;

    
}


input, textarea{
    width: 100%;
    margin: 10px;
    margin-left: -2px;
    border-radius: 10px;
}
label{
    color: blueviolet;
}
select{
    width: 100%;
    border-radius: 10px;
}


/*footer*/
.container-footer{
    display: flex;
    justify-content: space-between;
    
}
.iconos-redes{
    margin-right: 30px;
    height: 20px;
}




/*Version escritorio*/
@media (max-width: 710px ){
   
    header .container{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    header nav {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    .grid{
        display: grid;
        width: 100%;
        margin-top: 30px;
        place-items: center ;
        gap: 20px;
        grid-template-rows:1fr 1fr 1fr 1fr ;
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "html"
        "css"
        "python"
        "js";
    }
    
}  
